{{#equal currentBuild.build.code "stock"}}
    Уровень: {{currentBuild.level}}<br/>
    Вместиомсть ресурсов: {{currentBuild.size}}<br/>
    {{#if nextBuild}}
        <br/>Вместимость на уровне {{nextBuild.level}}: {{nextBuild.size}}
    {{/if}}
{{/equal}}

{{#equal currentBuild.build.code "granary"}}
    Уровень: {{currentBuild.level}}<br/>
    Вместиомсть зерна: {{currentBuild.size}}<br/>
    {{#if nextBuild}}
        <br/>Вместимость на уровне {{nextBuild.level}}: {{nextBuild.size}}
    {{/if}}
{{/equal}}

{{#equal currentBuild.build.code "army"}}
    Уровень: {{currentBuild.level}}<br/>

    Построить войска: <br/><br/>

    {{#each currentBuild.units}}
        <form method="POST" action="/village/build-units">
            <div><b>{{name}}</b>: {{description}}</div>
            {{> resource resource=price}}
            <div class="unit {{code}}">
                <input name="unitId" type="hidden" value="{{id}}">
                <input name="count" type="text" size="4" value="0">
                <input name="mapId" type="hidden" value="{{../mapId}}"/>
                <input type="submit" class="button" value="Построить"/>
            </div>
        </form>
    {{/each}}
    <br/><br/>

{{/equal}}

