<div class="price">
    <div class="resource wood">
        <span class="count {{#lt villageResource.wood resource.wood}}red{{/lt}}">{{resource.wood}}</span>
    </div>
    <div class="resource iron">
        <span class="count {{#lt villageResource.iron resource.iron}}red{{/lt}}">{{resource.iron}}</span>
    </div>
    <div class="resource stone">
        <span class="count {{#lt villageResource.stone resource.stone}}red{{/lt}}">{{resource.stone}}</span>
    </div>
    <div class="resource grain">
        <span class="count {{#lt villageResource.grain resource.grain}}red{{/lt}}">{{resource.grain}}</span>
    </div>
    {{#if buildTime}}
        Время: {{fancyTime buildTime}}
    {{/if}}
</div>