<div class="modal">
    <div class="title">Постройка здания</div>
    <div class="list">
        {{#each builds}}
            <div class="item {{build.code}}">
                <div class="name">{{build.name}}</div>
                <div class="desc">{{build.description}}</div>
                {{#if ../buildCode}}
                    {{> partials/build_info build=build code=../buildCode}}
                {{/if}}
                {{> partials/resource resource=price villageResource=../villageResource}}
                <div class="controls">
                    <a href="/village/build/?buildId={{build.id}}&mapId={{../mapId}}" class="button">
                        {{#equal level 1}}Построить{{else}}Улучшить до уровня {{level}}{{/equal}}
                    </a>
                </div>
            </div>
        {{/each}}
    </div>
</div>